@font-face {
  font-family: "HelveticaNeueMed";
  src: url("../fonts/helvetica/HelveticaNeueMed.eot?") format("eot"), url("../fonts/helvetica/HelveticaNeueMed.woff") format("woff"), url("../fonts/helvetica/HelveticaNeueMed.ttf") format("truetype"), url("../fonts/helvetica/HelveticaNeueMed.svg#HelveticaNeueMed") format("svg");
  font-weight: normal;
  font-style: normal; }
